* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #ffff;
  width: 100%;
  height: 100%;
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: rgba(0, 0, 0, 0.5) url(/assets/school-background.jpeg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Header */
h1 {
  padding: 150px;
  font-size: 60px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.logo {
  display: block;
  padding: 20px;
  float: left;
  font-size: 20px;
}

.hogwarts-logo {
  width: 10em;
  float: left;
  padding: 0 30px;
}

.hogwarts-logo:hover {
  opacity: 80%;
}

/* navigation */
ul {
  align-items: center;
  list-style-type: none;
  float: left;
  padding: 1em;
}
li {
  display: inline-block;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
