div {
  display: flex;
  justify-content: space-between;
}

li {
  background-color: rgba(63, 21, 17, 0.911);
  border: rgba(243, 241, 240, 0.808) solid;
  border-radius: 10px;
  height: 150px;
  width: 250px;
  display: flex;

  align-items: center;
  padding: 10px;
  margin: 10px;
  color: white;
}

img {
  height: 150px;
  width: 100px;
  padding: 10px;
}
