.info-div {
  position: relative;
  display: inline-block;
}

.info-div:hover .bubble {
  display: block;
}

.bubble {
  padding: 25px;
  display: none;
  position: absolute;
  top: 30%;
  right: 20px;
  background-color: #ffffff;
  border-radius: 500px;
}

/*.cards styling */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  border-radius: 15px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.card > img {
  width: 100%;
}

.card-content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content > h3 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.card-content > p {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  flex: 1;
}

.card-content > button {
  border: none;
  background-color: blueviolet;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card-content > button:hover {
  background-color: rgb(69, 19, 116);
  transform: scale(1.2);
}

.card-content > button:active {
  transform: translateY(1px);
}
